.chart {
    width: 50vw;
    height: 65vh;
    position: relative;
    overflow-y: scroll;
}

.chartMobile {
    margin-top: 1vh;
    width: 98vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 40vh;
}