.page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 85vh;
	flex-direction: column;
}

.vsection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}