.stat {
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    justify-content: stretch;
    font-size: 20px;
    line-height: 30px;
}

.stat > div {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
}
