.table {
	border-collapse: collapse;
	height: min-content;
	width: 100%;
}
.tableWrapper {
	height: 70vh;
	width: 40vw;
	overflow-y: scroll;
	display: flex;
	margin-right: 20px;
	justify-content: end;
}
.table tr {
	padding: 5px;
	border: 1px solid var(--font-color-dull);
}
.table th {
	padding: 5px;
	border: 1px solid var(--font-color-dull);
}
.table td {
	padding: 5px;
	border: 1px solid var(--font-color-dull);
}

.selection {
	background-color: var(--darker-bg-color);
	margin: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: 0.25s all;
	cursor: pointer;
}
.selection:hover {
	color: var(--font-color)
}

.selected {
	color: var(--highlight-color)
}

.trash {
	margin: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	color: var(--font-color);
	transition: 0.25s all;
	padding-top: 2px;
}
.trash:hover {
	color: var(--error-color)
}

.opWrap {
	display: flex;
}
