.statsPage {
	height: 80vh;
	display: flex;
	justify-content: center;
    overflow-y: scroll;
	flex-direction: column;
}

.vsection {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
